*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: black;
}

/*Mexendo na área do conteúdo*/
.container{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 100px;
}

/*---------------*/

/*Mexendo em todo o conteúdo presente*/

div.conversao input {
    margin: 20px;
    padding: 20px;
    outline: none;
    border-radius: 20px;
    border: none;
}

button{
    height: 50px;
    width: 300px;
    outline: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: medium;
    background-color: rgba(128, 128, 128, 0.349);
    cursor: pointer;
    color: red;
}

button:hover{
    background-color: black;
    border: white 5px solid;
    color: white;
    
}